@use 'variables';

.hero {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-image: url(../images/HeroBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: Arcane, sans-serif;

    .container {

        position: relative;
    }

    &::before {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(00, 00, 00, 0.5);
        content: '';
    }

    &__logo {

        margin: 0 auto;
        height: 280px;

        display: block;
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__logo {

            height: 100px;
        }

        .title {

            font-size: 16px;
        }

    }

}