@use 'variables';

.trailer {

    padding-top: 4vh;
    padding-bottom: 4vh;
    position: relative;
    background-image: linear-gradient(variables.$zaun4, variables.$zaun5);

    &::before {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(00, 00, 00, 0.5);
        content: '';
    }

    .container {

        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1;
        position: relative;
    }

    .title {

        margin: 2vh;

    }


}