$textColor1: #A6813C;
$textColor2: #583823;

$buttonColor1: #73351F;
$buttonColor2: #A67153;

$zaun1: #202739;
$zaun2: #4F5A3A;
$zaun3: #65824C;
$zaun5: #65824C;
$zaun4: #202739;

$pilt1: #84AEBC;
$pilt2: #6AA2C3;
// $purple: #4f2ac3;