@use 'hero';
@use 'sobre';
@use'./components/infos_bar';
@use './components/buttons';
@use 'variables';
@use 'trailer';

@font-face {
    font-family: Arcane;
    src: url(../../assets/fonts/Arcane\ Nine.otf);
    font-weight: 400;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arcane, sans-serif;
    list-style: none;
    color: #C29767;
}


.container {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {

        max-width: 80%;

        justify-content: center;
        align-content: center;
        align-items: center;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

.text {

    font-size: 20px;
}

.title {

    font-size: 26px;
    color: variables.$textColor2;
}